body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: #fff;
    align-items: center;
    height: 100%;
    margin: 0;
    background-image: url(paul-volkmer-fX-qWsXl5x8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    position: sticky;
    z-index: 1000;
    position: relative;
    margin-bottom: 50px;
}

.nav a{
  text-decoration: none;
  color: whitesmoke;
}

.nav ul{
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 2rem 0;
  background-color: black;
}

.nav a:hover{
     color: hotpink;
}

.contact-section {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(2px);
   box-shadow: 0 0 10px 5px #48abe0,
            0 0 20px 7px #ebecca,
            0 0 25px 20px #8a2be2,
            0 0 30px 25px #ff1493;

}

.contact-section h1 {
  font-size: 3em;
  letter-spacing: 4px;
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  background: #111;
  color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  resize: none;
}

.contact-form button {
  padding: 10px;
  background-color: #357edd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #285bb5;
}

.contact-info {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-info p i {
  margin-right: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #357edd;
}

.rights {
  font-size: 0.8em;
  color: #777;
  margin-top: 20px;
}


footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 70px;
}

/*.footer-icons {
  margin-top: 20px;
}*/

.footer-icons a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
  position: relative;}

.footer-icons a:hover {
  color: hotpink;
}